<div class="container">

       
        <main class="main">
            <div class="dashboard-data">
                <h1>Pet : {{display_pet_data.name}}</h1>
                <p>Name: {{display_pet_data.name}} </p>
                <p>Species: {{display_pet_data.species}}</p>
                <p>Breed: {{display_pet_data.breed}} </p>
                <p>Description: {{display_pet_data.description}} </p>
            </div>
        </main>
    </div>